@import 'bootstrap_overrides';
@import 'bootstrap';
@import 'login';
@import 'program';
@import 'template';
@import 'index_views';


body {
  background-color: lightsteelblue;
}

form {
  .input-row {
    margin-bottom: 1em;
  }

}

a:hover {
  cursor: pointer;
}

#body-wrapper {
  margin-top: 1em;
  line-height: 1em;
}

.badge.bg-warning {
  color: #2E2F30;
}

.parent-clickable:hover:not(:has(*:hover)), .clickable:hover {
  cursor: pointer;
}

.abs-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-modal-backdrop {
    z-index: 1100 !important;
}

.top-modal {
    z-index: 1101 !important;
}

.red {
  color: red;
}

.green {
  color: green;
}