@import 'bootstrap_overrides';
@import 'bootstrap';
@import 'login';
@import 'program';
@import 'template';
@import 'index_views';
@import "react-datetime/css/react-datetime.css";


body {
  background-color: lightsteelblue;
}

form {
  .input-row {
    padding-bottom: 1em;
  }

  .dragging {
    opacity: 0.8;
    transform: scale(1.02);
    background: #f0f0f0;
    border: solid 1px black;
  }

}

a:hover {
  cursor: pointer;
}

#body-wrapper {
  margin-top: 1em;
  line-height: 1em;
}

.badge.bg-warning {
  color: #2E2F30;
}

.parent-clickable:hover:not(:has(*:hover)), .clickable:hover {
  cursor: pointer;
}

.abs-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-modal-backdrop {
  z-index: 1100 !important;
}

.top-modal {
  z-index: 1101 !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.float-right {
  float: right;
}

.lg-textarea {
  width: 100%;
  height: 300px;
}